<div class="blog-container">

  <div id="articles">
  <% @articles.each do |article| %>
      <h3><%= link_to article.title, article_path(article) %></h3>
      <p><%= article.body %></p>
  <% end %>
  </div>

  <div>
  <%= link_to "Create a New Article", new_article_path, class: 'new_article' %>
  </div>

  <div class="page-numbers">
    <%= will_paginate @articles, previous_label: "Older", next_label: "Newer", inner_window: 1, outer_window: 0 %>
  </div>
</div>